<div>
  <button mat-button>Hello Home</button>
  <button mat-raised-button>Hello Home</button>
  <button mat-flat-button>Hello Home</button>
  <button mat-stroked-button>Hello Home</button>
</div>

<div>
  <button class="mat-icon-button">Icon</button>
  <button class="mat-fab">Fab</button>
  <button class="mat-mini-fab">Minifab</button>
</div>

<div>
  <button color="primary" mat-button>Primary</button>
  <button color="accent" mat-button>Accent</button>
  <button color="warn" disableRipple mat-button>Warn</button>

  <button color="primary" mat-raised-button>Primary</button>
  <button color="accent" mat-raised-button>Accent</button>
  <button color="warn" mat-raised-button>Warn</button>
</div>